<body>
    <div class="area"></div>
    <nav class="main-menu">
        <ul>
            <li class="has-subnav">
                <a routerLink="/deportista">
                    <i class="fa fa-users"></i>
                    <span class="nav-text">
                        Deportistas
                    </span>
                </a>
            </li>
            <li class="has-subnav">
                <a routerLink="/medallas">
                    <i class="fa fa-bar-chart-o"></i>
                    <span class="nav-text">
                        Medallas
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</body>
