body {
    background: linear-gradient(to right, #ffffff, #ffffff);
    margin: 0 auto;
    min-width:400px;
    max-width:2000px;
}
.card-body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background: #b0c2bc;
    @media (max-width: 768px) {
        font-size: 100%;
    }
    font-size: 16px;
}
#btnLogin{
    background-color: #07b0e4;
    color: white;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    width: 20%;
    margin-left: 35%;
    @media (max-width: 768px) {
        font-size: 14px;
        width: 35%;
    }
}
#btnlogin:hover{
    color: white;
    border-radius: 10rem;
}

.form-label-group {
    align-items: center;
}

.separador{
    padding-top: 100px;
    padding-bottom: 100px;
    @media (max-width: 768px) {
        width: 90%;
    }
}

.form-group{
    margin-left: 20%;
    margin-right: 20%;
    @media (max-width: 576px) {
        margin-left: 8%;
        margin-right: 8%;
    }
  }
.nav-brand{
    @media (max-width: 768px) {
        width: 50%;
    }
    width: 240px;
    margin-left: 45%;
  }
